/*
    Write your CSS in this file.
    Reference the powerpoints, google, or past CSS files for structure
    Examples:

    - Apply CSS to a specific HTML tag:
    tag-name {
        selector: value;
    }

	- A class:
    .class-name {
        selector: value;
    }

    - A ID:
    #id-name {
        selector: value;
    }
    
    look on W3 schools website for any specific questions on what CSS selectors and styles to use/what the correct syntax is.
*/

.selected {
    font-weight: bolder;
    color: white;
}
.navbar-light {
    text-align: right;
}
.nav-container {
    background-color: rgb(54,54,54);
}
.nav-container a {
    color: white;
}
.nav-item {
    padding-right: 20px;
}