body {
    /* set the background-color to lightgrey */
    background-color: lightgrey;
}
.header {

    /*
    use this css class to edit the header to match the image
    - set the background-color to blue (it doesn't have to exactly match the image on the screen)
    - set the border to black, solid, 2px wide
    - add a margin that is 10px on all sides 
    */
    background-color: lightblue;
    border: black 2px solid;
    margin: 10px;
}
.main-body {
    /*
        - set a 10px margin on all sides
        - set a border that is solid, black, and 2px thick
    */
    margin: 10px;
    border: black solid 2px;
}
.column1 {
    /*
        - set the height to 50vh
        - set the background-color to lightgreen
    */
    background-color: lightgreen;
    height: 50vh;
}
.column2 {
    /*
        - set the height to 50vh
        - set the background-color to lighyellow
    */
    background-color: lightyellow;
    height: 50vh;

}
.column3 {
     /*
        - set the height to 50vh
        - set the background-color to lightcoral
    */
    background-color: lightcoral;
    height: 50vh;

}
.footer1 {
    /*
        - set the margin to 10px
        - set a solid black border that is 2px thick
        - set the background-color to lightblue
    */
    margin: 10px;
    border: solid 2px black;
    background-color: lightblue;
    
}
/* don't touch this */
h4 {
    padding: 4px;
}